<div class="card">
    <div class="header">
        <img class="avatar" src="avatars/{{ avatar }}.png" />
        <span class="name">{{name}}</span>
    </div>
    <div class="info">
        <div class="text">{{ text|md_paragraph }}</div>
        <div class="stats">
            {%- for attribute in ['move', 'health', 'attack', 'defense', 'insanity'] %}
            <div class="iconcell">
                <img class="icon" src="{{ attribute|icon }}"> {{ stats[attribute] }}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
